.movies_page
    text-align: center
    &-list
        display: flex
        justify-content: space-around
        align-items: flex-start
        flex-wrap: wrap
        .movie
            background: rgba(0,0,0,8)
            z-index: 1
            color: #ffffff
            position: relative
            list-style: none
            background-color: rgba(0, 0, 0, 0.4)
            margin: 0 30px 30px 0
            height: 300px
            width: 200px
            display: flex
            flex-direction: column
            justify-content: space-between
            transition: all .3s
            cursor: pointer
            text-overflow: ellipsis
            li
                height: 100%
                width: 100%
            &_descr
                display: flex
                justify-content: space-between
                align-items: end
                width: 100%
                position: absolute
                bottom: 0
                text-align: left
                padding: 5px 0 0 5px
                color: rgba(255, 255, 255, 0.6)
                background: linear-gradient(to top, black, rgba(0, 0, 0, 0.1))
                transition: all .4s
            img
                object-fit: cover
                height: 100%
            &_rating
                font-size: 2rem
            &:hover
                transform: translateY(-10px)
                box-shadow: 6px 6px 12px rgba(255, 255, 255, 0.4)
                .movie_descr
                    font-size: 1.5rem
                    background: linear-gradient(rgba(0, 0, 0, 0.4), black)
                    color: rgb(255, 255, 255)
    .getmore
        margin-bottom: 20px