.page404
    position: relative
    height: 80vh
    width: 70%
    margin: 0 auto
    display: flex
    flex-direction: column
    // justify-content: center
    align-items: center
    img
        height: 60%
    button
        margin-top: 30px
    .text
        position: absolute
        margin-top: 20%
        font-size: 3rem